@use './styles/global' as *;

.container {
	@extend .flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.primary-navigation {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 4rem;

	&.open {
		transform: translateX(0%);
	}
}

.mobile-nav-toggle > span {
	@extend .sr-only;
}

.mobile-nav-toggle {
	display: none;
}

a {
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	color: $primary-color;
	text-transform: uppercase;
	border-bottom: 3px solid $primary-color;
	font-weight: bold;
	padding-bottom: 5px;

	&:hover {
		cursor: pointer;
	}
}

@media (max-width: 40em) {
	.primary-navigation {
		background: hsl(0 0% 0% / 0.75);
		position: fixed;
		inset: 0 0 0 30%;
		padding: min(30vh, 5rem) 2em;
		flex-direction: column;
		gap: 2rem;
		z-index: 1000;
		transform: translateX(100%);
		transition: transform 350ms ease;
	}
	.mobile-nav-toggle {
		display: block;
		background-image: url('icons8-menu.svg');
		background-color: transparent;
		background-repeat: no-repeat;
		position: absolute;
		z-index: 9999;
		width: 3rem;
		border: 0;
		aspect-ratio: 1;
		top: 2rem;
		right: 2rem;

		animation: fade2 0.5s linear;

		&.closeBtn {
			background-image: url('icons8-close.svg');

			animation: fade1 0.5s linear;
		}
	}

	@supports (backdrop-filter: blur(1rem)) {
		.primary-navigation {
			backdrop-filter: blur(1rem);
			background: hsl(0 0% 100% / 0.1);
		}
	}
}

@keyframes fade1 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade2 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
