//Fonts
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

// Colors
$primary-color: #e2e4f3;
$background-color: #141414;
$accent-color: #1f6e98;

// Fonts
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Helvetica Neue', sans-serif;

//Background
$texture-overlay: url('/Texture.png');

//Utility Classes
.flex {
	display: flex;
	gap: 4rem;
}

//Universal
body {
	background-color: $background-color;
	color: $primary-color;
	font-family: $primary-font;
	overflow-x: hidden;

	&:before {
		content: '';
		z-index: -999;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: $texture-overlay; // Apply the texture overlay
		opacity: 0.15;
	}
}
.stop-transitions * {
	transition: none !important;
	animation: none !important;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
